<div class="form-container">
    <div class="card">
      <form (ngSubmit)="addWorkout()" class="workout-form">
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput [(ngModel)]="name" name="name" required>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Workout Type</mat-label>
          <mat-select [(ngModel)]="workoutType" name="workoutType" required>
            <mat-option value="Running">Running</mat-option>
            <mat-option value="Cycling">Cycling</mat-option>
            <mat-option value="Swimming">Swimming</mat-option>
            <mat-option value="Yoga">Yoga</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Workout Minutes</mat-label>
          <input matInput type="number" [(ngModel)]="minutes" name="minutes" required>
        </mat-form-field>
  
        <button mat-raised-button type="submit">Add Workout</button>
      </form>
    </div>
  </div>
  